<ion-header>
  <ion-toolbar>
    <ion-title>
      Ferreteria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/header.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Ferreteria Flower</ion-card-subtitle>
        <ion-card-title>Mensaje del Gerente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p align="justify">Celebramos más de 45 años a su servicio, tiempo en donde hemos estado presentes en los diferentes segmentos de construcción, entregando valor a nuestros clientes mediante la introducción de nuevos servicios y variedad de productos como respuesta a sus requerimientos y necesidades.</p>
      </ion-card-content>
    </ion-card>
 
</ion-content>
