<ion-header>
  <ion-toolbar>
    <ion-title>
      Pre-inscripciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
<ion-item>
  <ion-label position="floating">Nombre:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">C.I:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Email:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Celular:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label>Fecha(D/M/A):</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date"></ion-datetime>
  </ion-item>
<ion-button>
    <ion-icon name="checkmark-circle-outline"></ion-icon>Registrar
</ion-button>
<ion-button>
    <ion-icon name="close"></ion-icon>Cancelar
</ion-button>


</ion-content>
